apiVersion: v1
stringData:
  apiToken: {{ .APIToken }}
  dataIngestToken: {{ .DataIngestToken }}
kind: Secret
metadata:
  name: {{ .ClusterName }}
  namespace: dynatrace
  labels:
    dynatrace.com/created-by: "dynatrace.kubernetes"
type: Opaque
---
apiVersion: dynatrace.com/v1beta6
kind: DynaKube
metadata:
  name: {{ .ClusterName }}
  namespace: dynatrace
  labels:
    dynatrace.com/created-by: "dynatrace.kubernetes"
{{- if .PrivilegedAnnotation }}
  annotations:
    feature.dynatrace.com/oneagent-privileged: "true"
{{- end }}
spec:
  apiUrl: {{ .APIURL }}
  tokens: {{ .ClusterName }}
  activeGate:
    image: {{ .ActiveGateImage }}
    capabilities:
      - kubernetes-monitoring
    resources:
      requests:
        cpu: 200m
        memory: 6Gi
      limits:
        cpu: 1000m
        memory: 6Gi
    replicas: 1
{{- if .KubeletPath }}
  kubeletPath: {{ .KubeletPath }}
{{- end }}
{{- if .EnableKSPM }}
  kspm:
    mappedHostPaths:
      - /boot
      - /etc
      - /proc/sys/kernel
      - /sys/fs
      - /sys/kernel/security/apparmor
      - /usr/lib/systemd/system
      - /var/lib
  templates:
    kspmNodeConfigurationCollector:
      imageRef:
        repository: public.ecr.aws/dynatrace/dynatrace-k8s-node-config-collector
        tag: 1.5.4
{{- end }}
---
apiVersion: dynatrace.com/v1beta6
kind: DynaKube
metadata:
  name: {{ .ClusterName }}-agents
  namespace: dynatrace
  labels:
    dynatrace.com/created-by: "dynatrace.kubernetes"
{{- if .PrivilegedAnnotation }}
  annotations:
    feature.dynatrace.com/oneagent-privileged: "true"
{{- end }}
spec:
  apiUrl: {{ .APIURL }}
  tokens: {{ .ClusterName }}
  oneAgent:
    applicationMonitoring:
      codeModulesImage: {{ .CodeModulesImage }}
  activeGate:
    image: {{ .ActiveGateImage }}
    capabilities:
      - routing
      - debugging
    resources:
      requests:
        cpu: 250m
        memory: 2Gi
      limits:
        cpu: 1000m
        memory: 2Gi
    replicas: 3
{{- if .KubeletPath }}
  kubeletPath: {{ .KubeletPath }}
{{- end }}
  templates:
    extensionExecutionController:
      imageRef:
        repository: {{ .EECRepository }}
        tag: {{ .EECTag }}
    otelCollector:
      imageRef:
        repository: public.ecr.aws/dynatrace/dynatrace-otel-collector
        tag: latest
    logMonitoring:
      imageRef:
        repository: public.ecr.aws/dynatrace/dynatrace-logmodule
        tag: 1.331.49.20260227-104933
  logMonitoring: {}
  telemetryIngest:
    protocols:
      - jaeger
      - otlp
      - statsd
      - zipkin
    serviceName: telemetry-ingest
  extensions:
    prometheus: {}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    dynatrace.com/created-by: "dynatrace.kubernetes"
  name: dynatrace-kubernetes-monitoring-sensitive
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
    verbs:
      - list
      - watch
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    dynatrace.com/created-by: "dynatrace.kubernetes"
  name: dynatrace-kubernetes-monitoring-sensitive
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dynatrace-kubernetes-monitoring-sensitive
subjects:
  - kind: ServiceAccount
    name: dynatrace-activegate
    namespace: dynatrace
