# Dynatrace OTel Collector configuration
# Docs: https://docs.dynatrace.com/docs/ingest-from/opentelemetry/collector/configuration
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:{{ .GRPCPort }}
      http:
        endpoint: 0.0.0.0:{{ .HTTPPort }}

processors:
  cumulativetodelta:
    max_staleness: 25h

exporters:
  otlp_http:
    endpoint: {{ .Endpoint }}/api/v2/otlp
    headers:
      Authorization: "{{ .AuthHeader }}"

service:
  telemetry:
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: localhost
                port: {{ .MetricsPort }}
  pipelines:
    traces:
      receivers: [otlp]
      processors: []
      exporters: [otlp_http]
    metrics:
      receivers: [otlp]
      processors: [cumulativetodelta]
      exporters: [otlp_http]
    logs:
      receivers: [otlp]
      processors: []
      exporters: [otlp_http]
